---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import List from "../components/List.astro";
import Footer from "../components/Footer.astro";
import FooterImage from "../assets/603.gif";
---

<Layout title="Moekyun Web Services">
    <main class="container" id="container">
        <Profile />

        <List />
        <div style="display: flex; justify-content: center; margin-top: 20px">
            <img src={FooterImage.src} width="150px" alt="rosemi gif" />
        </div>
        <Footer />
    </main>
</Layout>

<style>
    .container {
        position: relative;
        margin: auto;
        justify-content: space-between;
        padding: 0.3125rem;
        max-width: 600px;
        width: 90%;
        height: 100vh;
        overflow: visible;
        scrollbar-width: 8px;
        scrollbar-color: var(--zinc-900) var(--zinc-950);
    }
</style>
