---
interface Props {
    title: string;
    textColor?: string;
}

const {
    title,
    textColor = "var(--zinc-950)",
    background = "#fff4e6",
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="providing only the most moe of web services"
        />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <link
            href="https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body style={`color: ${textColor}; background: ${background};`}>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --pink-pastel: #ffd7f1;
        --pink-lighter: #ffeaf8;
        --pink-darker: #f5a9ce;
        --zinc-50: #fff5fb;
        --zinc-400: #f5c2e7;
        --zinc-800: #e1a4c9;
        --zinc-900: #d990b4;
        --zinc-950: #ffedf6;
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-family: "Satoshi", system-ui, sans-serif;
        color: var(--zinc-950);
    }

    body {
        padding: 20px;
    }

    a {
        color: var(--zinc-800);
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

    a:hover {
        color: var(--pink-darker);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Satoshi", sans-serif;
        color: var(--zinc-800);
    }
    button {
        background: var(--zinc-50);
        color: var(--zinc-900);
        border: 2px solid var(--zinc-400);
        border-radius: 12px;
        padding: 10px 20px;
        transition:
            background 0.3s ease,
            color 0.3s ease;
        cursor: pointer;
    }

    button:hover {
        background: var(--pink-darker);
        color: var(--zinc-50);
    }

    .container {
        padding: 20px;
        overflow: visible;
    }
</style>
